<div class="text-center px-8 py-16  bg-gray-50">
  <h3 class="text-teal-600 font-semibold text-xl mb-4">INSURANCE SERVICES</h3>
    <h2 class="text-5xl font-bold text-gray-800 mb-2">
      Take The Worry Out Of Life With 
    </h2>
    <h2 class="text-5xl font-bold text-gray-800 mb-9">
      Insurance Protection
    </h2>
    <div class="flex justify-center space-x-6 overflow-x-auto snap-x gap-4">
      <div class="relative w-96 snap-center bg-white rounded-lg shadow-lg">
        <img src="assets/images/insurancecard1.png" alt="Business Insurance" class="w-full rounded-t-lg">
        
      </div>
  
      <div class="relative w-96 snap-center bg-white rounded-lg shadow-lg">
        <img src="assets/images/insurancecard2.png" alt="Vehicle Insurance" class="w-full rounded-t-lg">
        
      </div>
  
      <div class="relative w-96 snap-center bg-white rounded-lg shadow-lg">
        <img src="assets/images/insurancecard3.png" alt="Car Insurance" class="w-full rounded-t-lg">
        
      </div>
    </div>
  
    <p class="mt-6 text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. 
      Urna eu et purus et mi sit rhoncus 
      <a href="#" class="text-teal-600 font-semibold hover:underline">View All</a>
    </p>
  </div>
  