<div class="my-8 px-8 py-16 ">
  <div class="text-center">
    <h2 class="text-5xl font-bold mb-2">Better Digital Insurance Begins </h2>
    <h2 class="text-5xl font-bold mb-5">Right Here</h2>
    <p class="text-gray-600 mb-8">Stay updated with our latest insights and tips on digital insurance.</p>
  </div>
  <div class="flex justify-center ">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 px-4 w-5/6 ">
    
    <div class="bg-white rounded-lg shadow-lg overflow-hidden ">
      <img src="assets/images/blog1.png" alt="Blog 1" class="w-full  object-cover">
      <div class="p-6 left-0">
        <p class="text-xs text-gray-500 mb-2">BY ADMIN | INSURANCE</p>
        <h3 class="text-lg font-semibold mb-2">What Is Personal Liability Umbrella Coverage</h3>
        
        
        <button class="text-teal-700 font-semibold">Read More</button>
        
      </div>
    </div>
  
    
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="assets/images/blog2.png" alt="Blog 2" class="w-full object-cover">
      <div class="p-6">
        <p class="text-xs text-gray-500 mb-2">BY ADMIN | INSURANCE</p>
        <h3 class="text-lg font-semibold mb-2">Insurance Covers Risk Of Fire Absence Of Fire Insurance</h3>
        
          <button class="text-teal-700 font-semibold">Read More</button>
        
      </div>
    </div>
  
    
    <div class="bg-white rounded-lg shadow-lg overflow-hidden ">
      <img src="assets/images/blog3.png" alt="Blog 3" class="w-full  object-cover">
      <div class="p-6">
        <p class="text-xs text-gray-500 mb-2">BY ADMIN | INSURANCE</p>
        <h3 class="text-lg font-semibold mb-2">Ambulance Cover Of Fire On Insurance Serving</h3>
        
          <button class="text-teal-700 font-semibold">Read More</button>
        
      </div>
    </div>
  </div>
  </div>
  </div>
  