<div class="text-center px-8 py-16 ">
  <div>
  <h3 class="text-teal-600 font-semibold text-xl mb-4">EXPERT TEAM</h3>
    <h2 class="text-5xl font-bold mb-2">Meet Our Team Expert &</h2>
    <h2 class="text-5xl font-bold mb-6">Experience Members</h2>
    
  </div>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 px-4 mb-8">
    
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
      <img src="assets/images/team1.png" alt="Mesiva Sccot" class="w-full  mb-4">
      <h3 class="text-xl font-semibold">Mesiva Sccot</h3>
      <p class="text-gray-600 mb-4">Marketing Ex.</p>
      <div class="flex space-x-3">
        <a href="https://twitter.com/username" target="_blank">
          <img src="assets/images/twitter.svg" alt="Twitter" class="w-5 h-5">
        </a>
        <a href="https://facebook.com/username" target="_blank">
          <img src="assets/icons/facebook.svg" alt="Facebook" class="w-5 h-5">
        </a>
        <a href="https://linkedin.com/in/username" target="_blank">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5">
        </a>
      </div>
    </div>
  
    
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
      <img src="assets/images/team2.png" alt="Jason Thomson" class="w-full mb-4">
      <h3 class="text-xl font-semibold">Jason Thomson</h3>
      <p class="text-gray-600 mb-4">Marketing Ex.</p>
      <div class="flex space-x-3">
        <a href="https://twitter.com/username" target="_blank">
          <img src="assets/icons/twitter.svg" alt="Twitter" class="w-5 h-5">
        </a>
        <a href="https://facebook.com/username" target="_blank">
          <img src="assets/icons/facebook.svg" alt="Facebook" class="w-5 h-5">
        </a>
        <a href="https://linkedin.com/in/username" target="_blank">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5">
        </a>
      </div>
    </div>
  
    
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
      <img src="assets/images/team3.png" alt="Kohn Wright" class="w-full  mb-4">
      <h3 class="text-xl font-semibold">Kohn Wright</h3>
      <p class="text-gray-600 mb-4">Marketing Ex.</p>
      <div class="flex space-x-3">
        <a href="https://twitter.com/username" target="_blank">
          <img src="assets/icons/twitter.svg" alt="Twitter" class="w-5 h-5">
        </a>
        <a href="https://facebook.com/username" target="_blank">
          <img src="assets/icons/facebook.svg" alt="Facebook" class="w-5 h-5">
        </a>
        <a href="https://linkedin.com/in/username" target="_blank">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5">
        </a>
      </div>
    </div>
  
    
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
      <img src="assets/images/team4.png" alt="Andrew Schimke" class="w-full  mb-4">
      <h3 class="text-xl font-semibold">Andrew Schimke</h3>
      <p class="text-gray-600 mb-4">Marketing Ex.</p>
      <div class="flex space-x-3">
        <a href="https://twitter.com/username" target="_blank">
          <img src="assets/icons/twitter.svg" alt="Twitter" class="w-5 h-5">
        </a>
        <a href="https://facebook.com/username" target="_blank">
          <img src="assets/icons/facebook.svg" alt="Facebook" class="w-5 h-5">
        </a>
        <a href="https://linkedin.com/in/username" target="_blank">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5">
        </a>
      </div>
    </div>
  </div>
  </div>
  